Checks: '-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         google-*,
         -google-runtime-references,
         -google-explicit-constructor,
         hicpp-*,
         -hicpp-no-array-decay,
         -hicpp-uppercase-literal-suffix,
         -hicpp-explicit-conversions,
         misc-*,
         -misc-non-private-member-variables-in-classes,
         llvm-*,
         -llvm-include-order,
         -llvm-header-guard,
         -llvm-namespace-comment,
         modernize-*,
         -modernize-use-trailing-return-type,
         performance-*,
         portability-*,
         readability-*,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-uppercase-literal-suffix'
