Checks: '-*,
         bugprone-*,
         -bugprone-suspicious-string-compare,
         cert-*,
         -cert-err58-cpp,
         clang-analyzer-*,
         google-*,
         -google-build-using-namespace,
         -google-explicit-constructor,
         -google-readability-todo,
         -google-default-arguments,
         -google-runtime-int,
         -google-runtime-references,
         hicpp-*,
         -hicpp-avoid-goto,
         -hicpp-explicit-conversions,
         -hicpp-named-parameter,
         -hicpp-no-array-decay,
         -hicpp-signed-bitwise,
         -hicpp-special-member-functions,
         -hicpp-uppercase-literal-suffix,
         -hicpp-vararg,
         misc-*,
         -misc-misplaced-const,
         -misc-non-private-member-variables-in-classes,
         -misc-no-recursion,
         llvm-*,
         -llvm-else-after-return,
         -llvm-include-order,
         -llvm-header-guard,
         -llvm-namespace-comment,
         -llvm-qualified-auto,
         modernize-*,
         -modernize-pass-by-value,
         -modernize-use-trailing-return-type,
         performance-*,
         portability-*,
         readability-*,
         -readability-convert-member-functions-to-static,
         -readability-else-after-return,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-named-parameter,
         -readability-qualified-auto,
         -readability-redundant-access-specifiers,
         -readability-uppercase-literal-suffix'

