[submodule "submodules/wtl"]
	path = submodules/wtl
	url = https://git.code.sf.net/p/wtl/git
[submodule "submodules/columns_ui-sdk"]
	path = submodules/columns_ui-sdk
	url = https://github.com/reupen/columns_ui-sdk.git
[submodule "submodules/foobar2000"]
	path = submodules/foobar2000
	url = https://github.com/TheQwertiest/foobar2000-sdk.git
[submodule "submodules/smp_2003"]
	path = submodules/smp_2003
	url = https://github.com/marc2k3/smp_2003.git
[submodule "submodules/scintilla"]
	path = submodules/scintilla
	url = https://github.com/mirror/scintilla.git
[submodule "submodules/pfc"]
	path = submodules/pfc
	url = https://github.com/TheQwertiest/pfc.git
[submodule "submodules/mozjs"]
	path = submodules/mozjs
	url = https://bitbucket.org/TheQwertiest/mozjs.git
[submodule "submodules/acfu-sdk"]
	path = submodules/acfu-sdk
	url = https://github.com/3dyd/acfu-sdk.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "submodules/timsort"]
	path = submodules/timsort
	url = https://github.com/tvanslyke/timsort-cpp.git
[submodule "submodules/gsl"]
	path = submodules/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "submodules/range"]
	path = submodules/range
	url = https://github.com/ericniebler/range-v3.git
	branch = v1.0-beta
	fetchRecurseSubmodules = false
